In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
info=pd.read_csv('canada_vehicles_project.csv')

In [3]:
info.head()

,REF_DATE,GEO,Vehicle type,Origin of manufacture,Sales,VALUE
0,2019-12,Canada,Total new motor vehicles,Total country of manufacture,Units,114045.0
1,2019-12,Canada,Total new motor vehicles,Total country of manufacture,Dollars,5283325.0
2,2019-12,Canada,Total new motor vehicles,North America,Units,84561.0
3,2019-12,Canada,Total new motor vehicles,North America,Dollars,4023353.0
4,2019-12,Canada,Total new motor vehicles,Total overseas,Units,29484.0

In [4]:
info.isnull().sum()

REF_DATE                  0
GEO                       0
Vehicle type              0
Origin of manufacture     0
Sales                     0
VALUE                    88
dtype: int64

In [5]:
info.nunique()

REF_DATE                   12
GEO                        11
Vehicle type                3
Origin of manufacture       5
Sales                       2
VALUE                    2580
dtype: int64

In [14]:
Canada_info=info

# Create database conection

In [9]:
!pip install sqlalchemy
from sqlalchemy import create_engine

Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.22-cp38-cp38-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.22

In [11]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [15]:
streaming_connection_string = "postgres:titota@localhost:5432/Canada_VSales"
engine = create_engine(f'postgresql://{streaming_connection_string}')

In [18]:
engine.table_names()

['Canada_Vsales']

In [17]:
Canada_info.to_sql(name="Canada_Vsales",con=engine,if_exists="replace",index=True)

In [19]:
engine.dispose()