In [2]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [57]:
connection_string = "postgres:titota@localhost:5432/Canada_VSales"
engine = create_engine(f'postgresql://{connection_string}')

In [58]:
engine.table_names()

['Canada_Vsales', 'Canada_Vsales_Bunits']

In [59]:
con=create_engine(f'postgresql://{connection_string}')

In [60]:
data=pd.read_sql('select * from "Canada_Vsales_Bunits"',con)

In [63]:
Canada_VSales=data

In [64]:
Canada_VSales.head()

,REF_DATE,GEO,Vehicle type,Origin of manufacture,Sales in dollars,Sales in units
0,2019-12,Newfoundland and Labrador,Passenger cars,North America,3639.0,140
1,2019-12,Newfoundland and Labrador,Passenger cars,Total overseas,2584.0,75
2,2019-12,Newfoundland and Labrador,Passenger cars,Japan,0.0,0
3,2019-12,Newfoundland and Labrador,Passenger cars,Other countries,0.0,0
4,2019-12,Newfoundland and Labrador,Trucks,North America,43738.0,945

In [67]:
(
        Canada_VSales
    )

,REF_DATE,GEO,Vehicle type,Origin of manufacture,Sales in dollars,Sales in units
0,2019-12,Newfoundland and Labrador,Passenger cars,North America,3639.0,140
1,2019-12,Newfoundland and Labrador,Passenger cars,Total overseas,2584.0,75
2,2019-12,Newfoundland and Labrador,Passenger cars,Japan,0.0,0
3,2019-12,Newfoundland and Labrador,Passenger cars,Other countries,0.0,0
4,2019-12,Newfoundland and Labrador,Trucks,North America,43738.0,945
...,...,...,...,...,...,...
715,2020-11,British Columbia and the Territories,Passenger cars,Total overseas,53277.0,1150
716,2020-11,British Columbia and the Territories,Passenger cars,Japan,13145.0,397
717,2020-11,British Columbia and the Territories,Passenger cars,Other countries,40132.0,753
718,2020-11,British Columbia and the Territories,Trucks,North America,453102.0,8608
719,2020-11,British Columbia and the Territories,Trucks,Total overseas,146830.0,3199