In [1]:
import pandas as pd
import geopandas as gpd

In [4]:
info=pd.read_csv('canada_vehicles_project.csv')

In [5]:
info.head()

,REF_DATE,GEO,Vehicle type,Origin of manufacture,Sales,VALUE
0,2019-12,Canada,Total new motor vehicles,Total country of manufacture,Units,114045.0
1,2019-12,Canada,Total new motor vehicles,Total country of manufacture,Dollars,5283325.0
2,2019-12,Canada,Total new motor vehicles,North America,Units,84561.0
3,2019-12,Canada,Total new motor vehicles,North America,Dollars,4023353.0
4,2019-12,Canada,Total new motor vehicles,Total overseas,Units,29484.0