In [1]:
import pandas as pd
import geopandas as gpd

In [5]:
info=pd.read_csv('Canada_V_Sales_Units_Dollars.csv')

In [6]:
info.head()

,Date,GEO,Vehicle_type,O_Manu,Sales_dollars,Sales_units
0,2019-12,Newfoundland & Labrador,Passenger cars,North America,3639,140
1,2019-12,Newfoundland & Labrador,Passenger cars,Total overseas,2584,75
2,2019-12,Newfoundland & Labrador,Passenger cars,Japan,0,0
3,2019-12,Newfoundland & Labrador,Passenger cars,Other countries,0,0
4,2019-12,Newfoundland & Labrador,Trucks,North America,43738,945

In [7]:
info.isnull().sum()

Date             0
GEO              0
Vehicle_type     0
O_Manu           0
Sales_dollars    0
Sales_units      0
dtype: int64

In [8]:
info.nunique()

Date              12
GEO               10
Vehicle_type       2
O_Manu             4
Sales_dollars    675
Sales_units      565
dtype: int64

In [9]:
Canada_info=info

# Create database conection

In [10]:
!pip install sqlalchemy
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in c:\users\pao\anaconda3\envs\geopandas\lib\site-packages (1.3.22)

In [11]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\pao\anaconda3\envs\geopandas\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [12]:
streaming_connection_string = "postgres:titota@localhost:5432/Canada_VSales"
engine = create_engine(f'postgresql://{streaming_connection_string}')

In [13]:
engine.table_names()

['Canada_Vsales', 'Canada_Vsales_Bunits']

In [14]:
Canada_info.to_sql(name="Canada_Vsales_Bunits",con=engine,if_exists="replace",index=False)

In [15]:
engine.dispose()